## Week 3 Assignment: Segmenting and Clustering Neighborhoods in Toronto

#Obtain Toronto data and clean it up
Scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas dataframe.

Download all the dependencies.

In [0]:
import pandas as pd

In [2]:
df_webpage = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
df_webpage

[    Postcode           Borough          Neighbourhood
 0        M1A      Not assigned           Not assigned
 1        M2A      Not assigned           Not assigned
 2        M3A        North York              Parkwoods
 3        M4A        North York       Victoria Village
 4        M5A  Downtown Toronto           Harbourfront
 ..       ...               ...                    ...
 282      M8Z         Etobicoke              Mimico NW
 283      M8Z         Etobicoke     The Queensway West
 284      M8Z         Etobicoke  Royal York South West
 285      M8Z         Etobicoke         South of Bloor
 286      M9Z      Not assigned           Not assigned

 [287 rows x 3 columns],
                                                   0   ...   17
 0                                                NaN  ...  NaN
 1  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...  ...  NaN
 2                                                 NL  ...   YT
 3                                                  A  ...    Y

 [4 rows x 18 columns],
    0   1   2   3   4   5   6   7   8   9   10  11  12  13  14  15     16  17
 0  NL  NS  PE  NB  QC  QC  QC  ON  ON  ON  ON  ON  MB  SK  AB  BC  NU/NT  YT
 1   A   B   C   E   G   H   J   K   L   M   N   P   R   S   T   V      X   Y]

There are two tables in the html page. Only the first one is used.

In [3]:
df_toronto = df_webpage[0]
df_toronto

    Postcode           Borough          Neighbourhood
0        M1A      Not assigned           Not assigned
1        M2A      Not assigned           Not assigned
2        M3A        North York              Parkwoods
3        M4A        North York       Victoria Village
4        M5A  Downtown Toronto           Harbourfront
..       ...               ...                    ...
282      M8Z         Etobicoke              Mimico NW
283      M8Z         Etobicoke     The Queensway West
284      M8Z         Etobicoke  Royal York South West
285      M8Z         Etobicoke         South of Bloor
286      M9Z      Not assigned           Not assigned

[287 rows x 3 columns]

Ignore cells with a borough that is Not assigned.

In [4]:
df_toronto = df_toronto[df_toronto.Borough != 'Not assigned']
df_toronto

    Postcode           Borough             Neighbourhood
2        M3A        North York                 Parkwoods
3        M4A        North York          Victoria Village
4        M5A  Downtown Toronto              Harbourfront
5        M6A        North York          Lawrence Heights
6        M6A        North York            Lawrence Manor
..       ...               ...                       ...
281      M8Z         Etobicoke  Kingsway Park South West
282      M8Z         Etobicoke                 Mimico NW
283      M8Z         Etobicoke        The Queensway West
284      M8Z         Etobicoke     Royal York South West
285      M8Z         Etobicoke            South of Bloor

[210 rows x 3 columns]

Assume a cell has a borough but a not assigned neighborhood, then the neighborhood will be the same as the borough.

In [5]:
for index, row in df_toronto.iterrows():
    if row['Neighbourhood'] == 'Not assigned':
       print(row['Borough'],row['Neighbourhood'])
       row['Neighbourhood'] = row['Borough']
       print('Assign Borough to Neighbourhood')
       print(row['Borough'],row['Neighbourhood'])

Queen's Park Not assigned
Assign Borough to Neighbourhood
Queen's Park Queen's Park

Group neighbourhoods into their corresponding postcodes.

In [6]:
df_postcode = df_toronto.groupby(['Postcode','Borough'])['Neighbourhood'].apply(', '.join).reset_index()
df_postcode

    Postcode      Borough                                      Neighbourhood
0        M1B  Scarborough                                     Rouge, Malvern
1        M1C  Scarborough             Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough                  Guildwood, Morningside, West Hill
3        M1G  Scarborough                                             Woburn
4        M1H  Scarborough                                          Cedarbrae
..       ...          ...                                                ...
98       M9N         York                                             Weston
99       M9P    Etobicoke                                          Westmount
100      M9R    Etobicoke  Kingsview Village, Martin Grove Gardens, Richv...
101      M9V    Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
102      M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

In [7]:
print('There are {} rows in the dataframe.'.format(df_postcode.shape[0]))

There are 103 rows in the dataframe.

#Download geographical coordinates data

In [8]:
!wget -O Geospatial_Coordinates.csv http://cocl.us/Geospatial_data

--2019-12-20 14:25:58--  http://cocl.us/Geospatial_data
Resolving cocl.us (cocl.us)... 169.48.113.194
Connecting to cocl.us (cocl.us)|169.48.113.194|:80... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://cocl.us/Geospatial_data [following]
--2019-12-20 14:25:58--  https://cocl.us/Geospatial_data
Connecting to cocl.us (cocl.us)|169.48.113.194|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2019-12-20 14:26:00--  https://ibm.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Resolving ibm.box.com (ibm.box.com)... 107.152.26.197, 107.152.27.197
Connecting to ibm.box.com (ibm.box.com)|107.152.26.197|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2019-12-20 14:26:01--  https://ibm.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Reusing existing connection to ibm.box.com:443.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.ent.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2019-12-20 14:26:01--  https://ibm.ent.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Resolving ibm.ent.box.com (ibm.ent.box.com)... 107.152.27.211, 107.152.26.211
Connecting to ibm.ent.box.com (ibm.ent.box.com)|107.152.27.211|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://public.boxcloud.com/d/1/b1!ByqXCGqzghVXDRWZpI09AaoVQCaFITgGi3iED-7mS6zYNT5I3apQ7maND4BDGtFtoAiBpHixD9dk_30fbitADBMaldT-hkP9e7V8JOKLzCZZ0303IVqMfoSzTyxPFubUNLFnbDJMAQ9uBDAN8AvOOsOX-cvgf0J0-_xZwKNTkbJnJqSC5OT39KZoi2P11t6VTy9U4QVPHxwFOLnA4pb1V5up2Ers86TRbAW5HM6gB80fBKJZqQxFxmv62KocGKgQk98whCL616XYHBDkmIrwOGTpcjYlbJRSeFQS2M6CBzcR09yfRuYa4-OGd1dejdGRe608pT86Lr6s_U7MF25-6Ld57jlEhawecALQeaz7QqvNB4KqhI7MKbo7p0Eq4NywRMxv9XENQmgYltkAQ1NlbW7JfMqestOQmWdDX2OX1dyd0QQweoYONcGo6vpVjkIvPug_rXyqkLiSBMRyyU81GUsySDSMZDJPJXFNIB8mtYY363madBb1yw3XESPZOv6pjWoloikiZ-t3XE0ZPR0RXS350EqeCt1eSyjkJ12CuFAxL_zipIbe9BVli-pAO3eyi1ZonNa8yibN9dGpJSyjHpNhUN-sk3XQHAJ1V6HUlWPv6BILC2fNxsWxsGMVFqR1gyuoL21VpPHU4A1NlnhW7yVIznkqzD24LYS9ChMwt08w9OCTRvewmaW2jD99UzR_QL5wY3ryEpJRWhMqLUuajWaugSF1aviaQXqAwljm_kAhLvQDcag1MkeuWtOfrCf1yUYqM3JY8nJCf6IiXGiucRr16RFIP5Tt1m9bm3WLl4V28yOGc4pJTnUwglc8u9xZZsegSznCXCGW7OzTOsIqQ4WILa4rZN1q_0hLkoz8xz6S4YwkcJMwIH-d2nEg7VoNVZMnGAiIMZHFQQFkPa-HwgqDD9h_Fx00Il-SR4evNh_PhIireLdMOiFm-WLnqp_wOy7f7ahJY8TQslTgLZnbushMsSa-s80-jVkUBmQxz7XHlswhvVLDPo6BEXHH7bGmQMPG8wGKrGTOJ-JbMjhZO0p4xcCHJZ0BFDDg6a3ihtX0XpQ2dY5NopsPceHFS0RNsxymChDOu0IdPnNR9Ut76JvVQRLCNHgvC3qnJhhgPzfI-T_Dpts8QQ3DslPQvW-Vu7PbYEc2yaiH-oShpFUWLl8qGbThmN6VNGmQb976FZ4wPeMRwreICiyyIJvGbjotJYRHQChKxnqS2wmcP7t7jzIe9ppIMyeTa8vnAAExkfe2J3A_Q994f035bIZoxkseGCRNa6a70K47KROqhDJZDl4IgPTcvDABG50U1bYd9990Cqy8FhZIsna1O5M1m5jhhtVs-OSITq_hyOD5_ldnn-lFxFyY8jkFFIhceSnL6KMk0O79V7G_54Q5irzk/download [following]
--2019-12-20 14:26:01--  https://public.boxcloud.com/d/1/b1!ByqXCGqzghVXDRWZpI09AaoVQCaFITgGi3iED-7mS6zYNT5I3apQ7maND4BDGtFtoAiBpHixD9dk_30fbitADBMaldT-hkP9e7V8JOKLzCZZ0303IVqMfoSzTyxPFubUNLFnbDJMAQ9uBDAN8AvOOsOX-cvgf0J0-_xZwKNTkbJnJqSC5OT39KZoi2P11t6VTy9U4QVPHxwFOLnA4pb1V5up2Ers86TRbAW5HM6gB80fBKJZqQxFxmv62KocGKgQk98whCL616XYHBDkmIrwOGTpcjYlbJRSeFQS2M6CBzcR09yfRuYa4-OGd1dejdGRe608pT86Lr6s_U7MF25-6Ld57jlEhawecALQeaz7QqvNB4KqhI7MKbo7p0Eq4NywRMxv9XENQmgYltkAQ1NlbW7JfMqestOQmWdDX2OX1dyd0QQweoYONcGo6vpVjkIvPug_rXyqkLiSBMRyyU81GUsySDSMZDJPJXFNIB8mtYY363madBb1yw3XESPZOv6pjWoloikiZ-t3XE0ZPR0RXS350EqeCt1eSyjkJ12CuFAxL_zipIbe9BVli-pAO3eyi1ZonNa8yibN9dGpJSyjHpNhUN-sk3XQHAJ1V6HUlWPv6BILC2fNxsWxsGMVFqR1gyuoL21VpPHU4A1NlnhW7yVIznkqzD24LYS9ChMwt08w9OCTRvewmaW2jD99UzR_QL5wY3ryEpJRWhMqLUuajWaugSF1aviaQXqAwljm_kAhLvQDcag1MkeuWtOfrCf1yUYqM3JY8nJCf6IiXGiucRr16RFIP5Tt1m9bm3WLl4V28yOGc4pJTnUwglc8u9xZZsegSznCXCGW7OzTOsIqQ4WILa4rZN1q_0hLkoz8xz6S4YwkcJMwIH-d2nEg7VoNVZMnGAiIMZHFQQFkPa-HwgqDD9h_Fx00Il-SR4evNh_PhIireLdMOiFm-WLnqp_wOy7f7ahJY8TQslTgLZnbushMsSa-s80-jVkUBmQxz7XHlswhvVLDPo6BEXHH7bGmQMPG8wGKrGTOJ-JbMjhZO0p4xcCHJZ0BFDDg6a3ihtX0XpQ2dY5NopsPceHFS0RNsxymChDOu0IdPnNR9Ut76JvVQRLCNHgvC3qnJhhgPzfI-T_Dpts8QQ3DslPQvW-Vu7PbYEc2yaiH-oShpFUWLl8qGbThmN6VNGmQb976FZ4wPeMRwreICiyyIJvGbjotJYRHQChKxnqS2wmcP7t7jzIe9ppIMyeTa8vnAAExkfe2J3A_Q994f035bIZoxkseGCRNa6a70K47KROqhDJZDl4IgPTcvDABG50U1bYd9990Cqy8FhZIsna1O5M1m5jhhtVs-OSITq_hyOD5_ldnn-lFxFyY8jkFFIhceSnL6KMk0O79V7G_54Q5irzk/download
Resolving public.boxcloud.com (public.boxcloud.com)... 107.152.24.200
Connecting to public.boxcloud.com (public.boxcloud.com)|107.152.24.200|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2891 (2.8K) [text/csv]
Saving to: â€˜Geospatial_Coordinates.csvâ€™

Geospatial_Coordina 100%[===================>]   2.82K  --.-KB/s    in 0s

2019-12-20 14:26:02 (539 MB/s) - â€˜Geospatial_Coordinates.csvâ€™ saved [2891/2891]

In [9]:
coord_df = pd.read_csv('Geospatial_Coordinates.csv')
coord_df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [11]:
merged_inner_df = pd.merge(left=df_postcode,right=coord_df, left_on='Postcode', right_on='Postal Code')
merged_inner_df.head()

  Postcode      Borough  ...   Latitude  Longitude
0      M1B  Scarborough  ...  43.806686 -79.194353
1      M1C  Scarborough  ...  43.784535 -79.160497
2      M1E  Scarborough  ...  43.763573 -79.188711
3      M1G  Scarborough  ...  43.770992 -79.216917
4      M1H  Scarborough  ...  43.773136 -79.239476

[5 rows x 6 columns]

In [12]:
merged_inner_df.shape[0]

103

In [13]:
toronto_df = merged_inner_df.drop(['Postal Code'], axis=1)
toronto_df.head()

  Postcode      Borough  ...   Latitude  Longitude
0      M1B  Scarborough  ...  43.806686 -79.194353
1      M1C  Scarborough  ...  43.784535 -79.160497
2      M1E  Scarborough  ...  43.763573 -79.188711
3      M1G  Scarborough  ...  43.770992 -79.216917
4      M1H  Scarborough  ...  43.773136 -79.239476

[5 rows x 5 columns]