## Week 3 Assignment: Segmenting and Clustering Neighborhoods in Toronto

#Obtain Toronto data and clean it up
Scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas dataframe.

Download all the dependencies.

In [0]:
import pandas as pd

In [2]:
df_webpage = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
df_webpage

[    Postcode           Borough          Neighbourhood
 0        M1A      Not assigned           Not assigned
 1        M2A      Not assigned           Not assigned
 2        M3A        North York              Parkwoods
 3        M4A        North York       Victoria Village
 4        M5A  Downtown Toronto           Harbourfront
 ..       ...               ...                    ...
 282      M8Z         Etobicoke              Mimico NW
 283      M8Z         Etobicoke     The Queensway West
 284      M8Z         Etobicoke  Royal York South West
 285      M8Z         Etobicoke         South of Bloor
 286      M9Z      Not assigned           Not assigned

 [287 rows x 3 columns],
                                                   0   ...   17
 0                                                NaN  ...  NaN
 1  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...  ...  NaN
 2                                                 NL  ...   YT
 3                                                  A  ...    Y

 [4 rows x 18 columns],
    0   1   2   3   4   5   6   7   8   9   10  11  12  13  14  15     16  17
 0  NL  NS  PE  NB  QC  QC  QC  ON  ON  ON  ON  ON  MB  SK  AB  BC  NU/NT  YT
 1   A   B   C   E   G   H   J   K   L   M   N   P   R   S   T   V      X   Y]

There are two tables in the html page. Only the first one is used.

In [3]:
df_toronto = df_webpage[0]
df_toronto

    Postcode           Borough          Neighbourhood
0        M1A      Not assigned           Not assigned
1        M2A      Not assigned           Not assigned
2        M3A        North York              Parkwoods
3        M4A        North York       Victoria Village
4        M5A  Downtown Toronto           Harbourfront
..       ...               ...                    ...
282      M8Z         Etobicoke              Mimico NW
283      M8Z         Etobicoke     The Queensway West
284      M8Z         Etobicoke  Royal York South West
285      M8Z         Etobicoke         South of Bloor
286      M9Z      Not assigned           Not assigned

[287 rows x 3 columns]

Ignore cells with a borough that is Not assigned.

In [4]:
df_toronto = df_toronto[df_toronto.Borough != 'Not assigned']
df_toronto_raw = df_toronto
df_toronto

    Postcode           Borough             Neighbourhood
2        M3A        North York                 Parkwoods
3        M4A        North York          Victoria Village
4        M5A  Downtown Toronto              Harbourfront
5        M6A        North York          Lawrence Heights
6        M6A        North York            Lawrence Manor
..       ...               ...                       ...
281      M8Z         Etobicoke  Kingsway Park South West
282      M8Z         Etobicoke                 Mimico NW
283      M8Z         Etobicoke        The Queensway West
284      M8Z         Etobicoke     Royal York South West
285      M8Z         Etobicoke            South of Bloor

[210 rows x 3 columns]

Assume a cell has a borough but a not assigned neighborhood, then the neighborhood will be the same as the borough.

In [5]:
for index, row in df_toronto.iterrows():
    if row['Neighbourhood'] == 'Not assigned':
       print(row['Borough'],row['Neighbourhood'])
       row['Neighbourhood'] = row['Borough']
       print('Assign Borough to Neighbourhood')
       print(row['Borough'],row['Neighbourhood'])

Queen's Park Not assigned
Assign Borough to Neighbourhood
Queen's Park Queen's Park

Group neighbourhoods into their corresponding postcodes.

In [6]:
df_postcode = df_toronto.groupby(['Postcode','Borough'])['Neighbourhood'].apply(', '.join).reset_index()
df_postcode

    Postcode      Borough                                      Neighbourhood
0        M1B  Scarborough                                     Rouge, Malvern
1        M1C  Scarborough             Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough                  Guildwood, Morningside, West Hill
3        M1G  Scarborough                                             Woburn
4        M1H  Scarborough                                          Cedarbrae
..       ...          ...                                                ...
98       M9N         York                                             Weston
99       M9P    Etobicoke                                          Westmount
100      M9R    Etobicoke  Kingsview Village, Martin Grove Gardens, Richv...
101      M9V    Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
102      M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

In [7]:
print('There are {} rows in the dataframe.'.format(df_postcode.shape[0]))

There are 103 rows in the dataframe.

#Download geographical coordinates data

In [8]:
from google.colab import drive
drive.mount('/content/gdrive/')
#!wget Geospatial_Coordinates.csv http://cocl.us/Geospatial_data

Drive already mounted at /content/gdrive/; to attempt to forcibly remount, call drive.mount("/content/gdrive/", force_remount=True).

In [9]:
#coord_df = pd.read_csv("http://cocl.us/Geospatial_data")
coord_df = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/Geospatial_Coordinates.csv')
coord_df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [10]:
merged_inner_df = pd.merge(left=df_postcode,right=coord_df, left_on='Postcode', right_on='Postal Code')
merged_inner_df.head()

  Postcode      Borough  ...   Latitude  Longitude
0      M1B  Scarborough  ...  43.806686 -79.194353
1      M1C  Scarborough  ...  43.784535 -79.160497
2      M1E  Scarborough  ...  43.763573 -79.188711
3      M1G  Scarborough  ...  43.770992 -79.216917
4      M1H  Scarborough  ...  43.773136 -79.239476

[5 rows x 6 columns]

In [11]:
merged_inner_df.shape[0]

103

In [12]:
toronto_df = merged_inner_df.drop(['Postal Code'], axis=1)
toronto_df.head()

  Postcode      Borough  ...   Latitude  Longitude
0      M1B  Scarborough  ...  43.806686 -79.194353
1      M1C  Scarborough  ...  43.784535 -79.160497
2      M1E  Scarborough  ...  43.763573 -79.188711
3      M1G  Scarborough  ...  43.770992 -79.216917
4      M1H  Scarborough  ...  43.773136 -79.239476

[5 rows x 5 columns]

#Explore and cluster the neighborhoods

In [0]:
merged_inner_df = pd.merge(left=df_toronto_raw,right=coord_df, left_on='Postcode', right_on='Postal Code')

In [14]:
toronto_df_raw = merged_inner_df.drop(['Postal Code'], axis=1)
toronto_df_raw.head()

  Postcode           Borough     Neighbourhood   Latitude  Longitude
0      M3A        North York         Parkwoods  43.753259 -79.329656
1      M4A        North York  Victoria Village  43.725882 -79.315572
2      M5A  Downtown Toronto      Harbourfront  43.654260 -79.360636
3      M6A        North York  Lawrence Heights  43.718518 -79.464763
4      M6A        North York    Lawrence Manor  43.718518 -79.464763

Explore North York

In [15]:
northyork_data = toronto_df_raw[toronto_df_raw['Borough'] == 'North York'].reset_index(drop=True)
northyork_data.head()

  Postcode     Borough     Neighbourhood   Latitude  Longitude
0      M3A  North York         Parkwoods  43.753259 -79.329656
1      M4A  North York  Victoria Village  43.725882 -79.315572
2      M6A  North York  Lawrence Heights  43.718518 -79.464763
3      M6A  North York    Lawrence Manor  43.718518 -79.464763
4      M3B  North York   Don Mills North  43.745906 -79.352188

#Use geopy library to get the latitude and longitude values of North York.

In [16]:
from geopy.geocoders import Nominatim
address = 'North York, Toronto'

geolocator = Nominatim(user_agent="explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of North York, Toronto are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of North York, Toronto are 43.7543263, -79.4491169663959.

In [17]:
import folium
# create map of New York using latitude and longitude values
map_northyork = folium.Map(location=[latitude, longitude], zoom_start=10)
   
map_northyork

In [18]:
# add markers to map
for lat, lng, label in zip(northyork_data['Latitude'], northyork_data['Longitude'], northyork_data['Neighbourhood']):
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_northyork)  
    
map_northyork

We are going to start utilizing the Foursquare API to explore the neighborhoods and segment them.

#### Define Foursquare Credentials and Version

In [0]:
CLIENT_ID = 'LOINP01ELNCCIZ5HIL4TL3O02FPAWW4R5AEAEKQ4LWZ5OJZH' # your Foursquare ID
CLIENT_SECRET = 'ZBHP52RXVOSR25RVBY0VOG2DXQ3NOYXMC5EML0NSGDCE1BJV' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version

#### Let's explore the first neighborhood in our dataframe.

In [20]:
northyork_data.loc[0, 'Neighbourhood']

'Parkwoods'

Get the neighborhood's latitude and longitude values.

In [21]:
neighborhood_latitude = northyork_data.loc[0, 'Latitude'] # neighborhood latitude value
neighborhood_longitude = northyork_data.loc[0, 'Longitude'] # neighborhood longitude value

neighborhood_name = northyork_data.loc[0, 'Neighbourhood'] # neighborhood name

print('Latitude and longitude values of {} are {}, {}.'.format(neighborhood_name, 
                                                               neighborhood_latitude, 
                                                               neighborhood_longitude))

Latitude and longitude values of Parkwoods are 43.7532586, -79.3296565.

#### Now, let's get the top 100 venues that are in Parkwoods within a radius of 500 meters.

First, let's create the GET request URL. Name your URL **url**.

In [22]:
LIMIT = 100 # limit of number of venues returned by Foursquare API
radius = 500 # define radius

# create URL
url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
    CLIENT_ID, 
    CLIENT_SECRET, 
    VERSION, 
    neighborhood_latitude, 
    neighborhood_longitude, 
    radius, 
    LIMIT)

# display URL 
url

'https://api.foursquare.com/v2/venues/explore?&client_id=LOINP01ELNCCIZ5HIL4TL3O02FPAWW4R5AEAEKQ4LWZ5OJZH&client_secret=ZBHP52RXVOSR25RVBY0VOG2DXQ3NOYXMC5EML0NSGDCE1BJV&v=20180605&ll=43.7532586,-79.3296565&radius=500&limit=100'

Send the GET request and examine the resutls

In [23]:
import requests
results = requests.get(url).json()
results

{'meta': {'code': 200, 'requestId': '5dff8ab1be61c9001b979bef'},
 'response': {'groups': [{'items': [{'reasons': {'count': 0,
       'items': [{'reasonName': 'globalInteractionReason',
         'summary': 'This spot is popular',
         'type': 'general'}]},
      'referralId': 'e-0-4e8d9dcdd5fbbbb6b3003c7b-0',
      'venue': {'categories': [{'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/parks_outdoors/park_',
          'suffix': '.png'},
         'id': '4bf58dd8d48988d163941735',
         'name': 'Park',
         'pluralName': 'Parks',
         'primary': True,
         'shortName': 'Park'}],
       'id': '4e8d9dcdd5fbbbb6b3003c7b',
       'location': {'address': 'Toronto',
        'cc': 'CA',
        'city': 'Toronto',
        'country': 'Canada',
        'distance': 245,
        'formattedAddress': ['Toronto', 'Toronto ON', 'Canada'],
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.751976046055574,
          'lng': -79.33214044722958}],
        'lat': 43.751976046055574,
        'lng': -79.33214044722958,
        'state': 'ON'},
       'name': 'Brookbanks Park',
       'photos': {'count': 0, 'groups': []}}},
     {'reasons': {'count': 0,
       'items': [{'reasonName': 'globalInteractionReason',
         'summary': 'This spot is popular',
         'type': 'general'}]},
      'referralId': 'e-0-4cb11e2075ebb60cd1c4caad-1',
      'venue': {'categories': [{'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/foodanddrink_',
          'suffix': '.png'},
         'id': '4bf58dd8d48988d1f9941735',
         'name': 'Food & Drink Shop',
         'pluralName': 'Food & Drink Shops',
         'primary': True,
         'shortName': 'Food & Drink'}],
       'id': '4cb11e2075ebb60cd1c4caad',
       'location': {'address': '29 Valley Woods Road',
        'cc': 'CA',
        'city': 'Toronto',
        'country': 'Canada',
        'distance': 312,
        'formattedAddress': ['29 Valley Woods Road', 'Toronto ON', 'Canada'],
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.75197441585782,
          'lng': -79.33311418516017}],
        'lat': 43.75197441585782,
        'lng': -79.33311418516017,
        'state': 'ON'},
       'name': 'Variety Store',
       'photos': {'count': 0, 'groups': []}}}],
    'name': 'recommended',
    'type': 'Recommended Places'}],
  'headerFullLocation': 'Parkwoods - Donalda, Toronto',
  'headerLocation': 'Parkwoods - Donalda',
  'headerLocationGranularity': 'neighborhood',
  'suggestedBounds': {'ne': {'lat': 43.757758604500005,
    'lng': -79.32343823984928},
   'sw': {'lat': 43.7487585955, 'lng': -79.33587476015072}},
  'totalResults': 2,
  'warning': {'text': "There aren't a lot of results near you. Try something more general, reset your filters, or expand the search area."}}}

In [0]:
# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

Now we are ready to clean the json and structure it into a *pandas* dataframe.

In [25]:
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe
venues = results['response']['groups'][0]['items']
    
nearby_venues = json_normalize(venues) # flatten JSON

# filter columns
filtered_columns = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']
nearby_venues =nearby_venues.loc[:, filtered_columns]

# filter the category for each row
nearby_venues['venue.categories'] = nearby_venues.apply(get_category_type, axis=1)

# clean columns
nearby_venues.columns = [col.split(".")[-1] for col in nearby_venues.columns]

nearby_venues.head()

              name         categories        lat        lng
0  Brookbanks Park               Park  43.751976 -79.332140
1    Variety Store  Food & Drink Shop  43.751974 -79.333114

And how many venues were returned by Foursquare?

In [26]:
print('{} venues were returned by Foursquare.'.format(nearby_venues.shape[0]))

2 venues were returned by Foursquare.

#### Let's find out how many unique categories can be curated from all the returned venues

In [27]:
print('There are {} uniques categories.'.format(len(nearby_venues['categories'].unique())))

There are 2 uniques categories.

#Analyze the Neighborhood

#### Let's create a function to repeat the same process to all the neighborhoods

In [0]:
def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

#### Now write the code to run the above function on each neighborhood and create a new dataframe called *toronto_venues*.

In [29]:
toronto_venues = getNearbyVenues(names=northyork_data['Neighbourhood'],
                                   latitudes=northyork_data['Latitude'],
                                   longitudes=northyork_data['Longitude']
                                  )

Parkwoods
Victoria Village
Lawrence Heights
Lawrence Manor
Don Mills North
Glencairn
Flemingdon Park
Don Mills South
Hillcrest Village
Bathurst Manor
Downsview North
Wilson Heights
Fairview
Henry Farm
Oriole
Northwood Park
York University
Bayview Village
CFB Toronto
Downsview East
Silver Hills
York Mills
Downsview West
Downsview
North Park
Upwood Park
Humber Summit
Newtonbrook
Willowdale
Downsview Central
Bedford Park
Lawrence Manor East
Emery
Humberlea
Willowdale South
Downsview Northwest
York Mills West
Willowdale West

#### Let's check the size of the resulting dataframe

In [30]:
print(toronto_venues.shape)
toronto_venues.head()

(471, 7)

       Neighborhood  ...         Venue Category
0         Parkwoods  ...                   Park
1         Parkwoods  ...      Food & Drink Shop
2  Victoria Village  ...           Hockey Arena
3  Victoria Village  ...            Coffee Shop
4  Victoria Village  ...  Portuguese Restaurant

[5 rows x 7 columns]

Let's check how many venues were returned for each neighborhood

In [31]:
toronto_venues.groupby('Neighborhood').count()

                     Neighborhood Latitude  ...  Venue Category
Neighborhood                                ...
Bathurst Manor                          20  ...              20
Bayview Village                          4  ...               4
Bedford Park                            22  ...              22
CFB Toronto                              3  ...               3
Don Mills North                          5  ...               5
Don Mills South                         22  ...              22
Downsview                                4  ...               4
Downsview Central                        3  ...               3
Downsview East                           3  ...               3
Downsview North                         20  ...              20
Downsview Northwest                      6  ...               6
Downsview West                           6  ...               6
Emery                                    1  ...               1
Fairview                                60  ...              60
Flemingdon Park                         22  ...              22
Glencairn                                5  ...               5
Henry Farm                              60  ...              60
Hillcrest Village                        4  ...               4
Humber Summit                            2  ...               2
Humberlea                                1  ...               1
Lawrence Heights                        10  ...              10
Lawrence Manor                          10  ...              10
Lawrence Manor East                     22  ...              22
North Park                               4  ...               4
Northwood Park                           7  ...               7
Oriole                                  60  ...              60
Parkwoods                                2  ...               2
Silver Hills                             2  ...               2
Upwood Park                              4  ...               4
Victoria Village                         5  ...               5
Willowdale South                        35  ...              35
Willowdale West                          5  ...               5
Wilson Heights                          20  ...              20
York Mills                               2  ...               2
York Mills West                          3  ...               3
York University                          7  ...               7

[36 rows x 6 columns]

#### Let's find out how many unique categories can be curated from all the returned venues

In [32]:
print('There are {} uniques categories.'.format(len(toronto_venues['Venue Category'].unique())))

There are 104 uniques categories.

In [33]:
# one hot encoding
toronto_onehot = pd.get_dummies(toronto_venues[['Venue Category']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
toronto_onehot['Neighborhood'] = toronto_venues['Neighborhood'] 

# move neighborhood column to the first column
fixed_columns = [toronto_onehot.columns[-1]] + list(toronto_onehot.columns[:-1])
toronto_toronto = toronto_onehot[fixed_columns]

toronto_onehot.head()

   Accessories Store  Airport  ...  Women's Store      Neighborhood
0                  0        0  ...              0         Parkwoods
1                  0        0  ...              0         Parkwoods
2                  0        0  ...              0  Victoria Village
3                  0        0  ...              0  Victoria Village
4                  0        0  ...              0  Victoria Village

[5 rows x 105 columns]

And let's examine the new dataframe size.

In [34]:
toronto_onehot.shape

(471, 105)

#### Next, let's group rows by neighborhood and by taking the mean of the frequency of occurrence of each category

In [35]:
toronto_grouped = toronto_onehot.groupby('Neighborhood').mean().reset_index()
toronto_grouped

           Neighborhood  Accessories Store  ...  Wings Joint  Women's Store
0        Bathurst Manor                0.0  ...     0.000000           0.00
1       Bayview Village                0.0  ...     0.000000           0.00
2          Bedford Park                0.0  ...     0.000000           0.00
3           CFB Toronto                0.0  ...     0.000000           0.00
4       Don Mills North                0.0  ...     0.000000           0.00
5       Don Mills South                0.0  ...     0.000000           0.00
6             Downsview                0.0  ...     0.000000           0.00
7     Downsview Central                0.0  ...     0.000000           0.00
8        Downsview East                0.0  ...     0.000000           0.00
9       Downsview North                0.0  ...     0.000000           0.00
10  Downsview Northwest                0.0  ...     0.000000           0.00
11       Downsview West                0.0  ...     0.000000           0.00
12                Emery                0.0  ...     0.000000           0.00
13             Fairview                0.0  ...     0.016667           0.05
14      Flemingdon Park                0.0  ...     0.000000           0.00
15            Glencairn                0.0  ...     0.000000           0.00
16           Henry Farm                0.0  ...     0.016667           0.05
17    Hillcrest Village                0.0  ...     0.000000           0.00
18        Humber Summit                0.0  ...     0.000000           0.00
19            Humberlea                0.0  ...     0.000000           0.00
20     Lawrence Heights                0.1  ...     0.000000           0.10
21       Lawrence Manor                0.1  ...     0.000000           0.10
22  Lawrence Manor East                0.0  ...     0.000000           0.00
23           North Park                0.0  ...     0.000000           0.00
24       Northwood Park                0.0  ...     0.000000           0.00
25               Oriole                0.0  ...     0.016667           0.05
26            Parkwoods                0.0  ...     0.000000           0.00
27         Silver Hills                0.0  ...     0.000000           0.00
28          Upwood Park                0.0  ...     0.000000           0.00
29     Victoria Village                0.0  ...     0.000000           0.00
30     Willowdale South                0.0  ...     0.000000           0.00
31      Willowdale West                0.0  ...     0.000000           0.00
32       Wilson Heights                0.0  ...     0.000000           0.00
33           York Mills                0.0  ...     0.000000           0.00
34      York Mills West                0.0  ...     0.000000           0.00
35      York University                0.0  ...     0.000000           0.00

[36 rows x 105 columns]

#### Let's confirm the new size

In [36]:
toronto_grouped.shape

(36, 105)

#### Let's print each neighborhood along with the top 5 most common venues

In [37]:
num_top_venues = 5

for hood in toronto_grouped['Neighborhood']:
    print("----"+hood+"----")
    temp = toronto_grouped[toronto_grouped['Neighborhood'] == hood].T.reset_index()
    temp.columns = ['venue','freq']
    temp = temp.iloc[1:]
    temp['freq'] = temp['freq'].astype(float)
    temp = temp.round({'freq': 2})
    print(temp.sort_values('freq', ascending=False).reset_index(drop=True).head(num_top_venues))
    print('\n')

----Bathurst Manor----
            venue  freq
0     Coffee Shop  0.10
1           Diner  0.05
2     Gas Station  0.05
3      Restaurant  0.05
4  Sandwich Place  0.05


----Bayview Village----
                 venue  freq
0   Chinese Restaurant  0.25
1                 Bank  0.25
2                 CafÃ©  0.25
3  Japanese Restaurant  0.25
4    Accessories Store  0.00


----Bedford Park----
                venue  freq
0         Coffee Shop  0.09
1  Italian Restaurant  0.09
2    Greek Restaurant  0.05
3           Juice Bar  0.05
4         Pizza Place  0.05


----CFB Toronto----
        venue  freq
0     Airport  0.33
1  Playground  0.33
2        Park  0.33
3   Juice Bar  0.00
4   Pet Store  0.00


----Don Mills North----
                  venue  freq
0  Gym / Fitness Center   0.2
1  Caribbean Restaurant   0.2
2                  CafÃ©   0.2
3        Baseball Field   0.2
4   Japanese Restaurant   0.2


----Don Mills South----
              venue  freq
0               Gym  0.09
1  Asian Restaurant  0.09
2       Coffee Shop  0.09
3        Beer Store  0.09
4      Concert Hall  0.05


----Downsview----
                        venue  freq
0  Construction & Landscaping  0.25
1                        Park  0.25
2                      Bakery  0.25
3            Basketball Court  0.25
4                Liquor Store  0.00


----Downsview Central----
               venue  freq
0       Home Service  0.33
1     Baseball Field  0.33
2         Food Truck  0.33
3  Accessories Store  0.00
4          Juice Bar  0.00


----Downsview East----
        venue  freq
0     Airport  0.33
1  Playground  0.33
2        Park  0.33
3   Juice Bar  0.00
4   Pet Store  0.00


----Downsview North----
            venue  freq
0     Coffee Shop  0.10
1           Diner  0.05
2     Gas Station  0.05
3      Restaurant  0.05
4  Sandwich Place  0.05


----Downsview Northwest----
                venue  freq
0                 Gym  0.17
1  Athletics & Sports  0.17
2      Discount Store  0.17
3        Liquor Store  0.17
4       Grocery Store  0.17


----Downsview West----
           venue  freq
0  Grocery Store  0.33
1           Park  0.17
2          Hotel  0.17
3           Bank  0.17
4  Shopping Mall  0.17


----Emery----
               venue  freq
0     Baseball Field   1.0
1  Accessories Store   0.0
2          Juice Bar   0.0
3          Pet Store   0.0
4               Park   0.0


----Fairview----
                  venue  freq
0        Clothing Store  0.15
1  Fast Food Restaurant  0.08
2           Coffee Shop  0.08
3         Women's Store  0.05
4   Japanese Restaurant  0.05


----Flemingdon Park----
              venue  freq
0               Gym  0.09
1  Asian Restaurant  0.09
2       Coffee Shop  0.09
3        Beer Store  0.09
4      Concert Hall  0.05


----Glencairn----
                 venue  freq
0                 Park   0.2
1     Asian Restaurant   0.2
2                  Pub   0.2
3        Metro Station   0.2
4  Japanese Restaurant   0.2


----Henry Farm----
                  venue  freq
0        Clothing Store  0.15
1  Fast Food Restaurant  0.08
2           Coffee Shop  0.08
3         Women's Store  0.05
4   Japanese Restaurant  0.05


----Hillcrest Village----
                      venue  freq
0               Golf Course  0.25
1                      Pool  0.25
2  Mediterranean Restaurant  0.25
3                   Dog Run  0.25
4         Accessories Store  0.00


----Humber Summit----
                 venue  freq
0          Pizza Place   0.5
1  Empanada Restaurant   0.5
2            Juice Bar   0.0
3            Pet Store   0.0
4                 Park   0.0


----Humberlea----
               venue  freq
0     Baseball Field   1.0
1  Accessories Store   0.0
2          Juice Bar   0.0
3          Pet Store   0.0
4               Park   0.0


----Lawrence Heights----
                   venue  freq
0         Clothing Store   0.3
1      Accessories Store   0.1
2               Boutique   0.1
3  Vietnamese Restaurant   0.1
4     Miscellaneous Shop   0.1


----Lawrence Manor----
                   venue  freq
0         Clothing Store   0.3
1      Accessories Store   0.1
2               Boutique   0.1
3  Vietnamese Restaurant   0.1
4     Miscellaneous Shop   0.1


----Lawrence Manor East----
                venue  freq
0         Coffee Shop  0.09
1  Italian Restaurant  0.09
2    Greek Restaurant  0.05
3           Juice Bar  0.05
4         Pizza Place  0.05


----North Park----
                        venue  freq
0  Construction & Landscaping  0.25
1                        Park  0.25
2                      Bakery  0.25
3            Basketball Court  0.25
4                Liquor Store  0.00


----Northwood Park----
                    venue  freq
0  Furniture / Home Store  0.29
1             Coffee Shop  0.14
2    Caribbean Restaurant  0.14
3                     Bar  0.14
4      Miscellaneous Shop  0.14


----Oriole----
                  venue  freq
0        Clothing Store  0.15
1  Fast Food Restaurant  0.08
2           Coffee Shop  0.08
3         Women's Store  0.05
4   Japanese Restaurant  0.05


----Parkwoods----
               venue  freq
0               Park   0.5
1  Food & Drink Shop   0.5
2  Accessories Store   0.0
3          Juice Bar   0.0
4          Pet Store   0.0


----Silver Hills----
               venue  freq
0               Park   0.5
1          Cafeteria   0.5
2  Accessories Store   0.0
3        Pizza Place   0.0
4          Pet Store   0.0


----Upwood Park----
                        venue  freq
0  Construction & Landscaping  0.25
1                        Park  0.25
2                      Bakery  0.25
3            Basketball Court  0.25
4                Liquor Store  0.00


----Victoria Village----
                   venue  freq
0            Coffee Shop   0.2
1           Hockey Arena   0.2
2  Portuguese Restaurant   0.2
3      French Restaurant   0.2
4           Intersection   0.2


----Willowdale South----
              venue  freq
0       Coffee Shop  0.09
1  Ramen Restaurant  0.09
2  Sushi Restaurant  0.09
3       Pizza Place  0.06
4              CafÃ©  0.06


----Willowdale West----
            venue  freq
0     Coffee Shop   0.2
1    Home Service   0.2
2  Discount Store   0.2
3     Pizza Place   0.2
4        Pharmacy   0.2


----Wilson Heights----
            venue  freq
0     Coffee Shop  0.10
1           Diner  0.05
2     Gas Station  0.05
3      Restaurant  0.05
4  Sandwich Place  0.05


----York Mills----
               venue  freq
0               Park   0.5
1          Cafeteria   0.5
2  Accessories Store   0.0
3        Pizza Place   0.0
4          Pet Store   0.0


----York Mills West----
               venue  freq
0  Convenience Store  0.33
1               Park  0.33
2               Bank  0.33
3  Accessories Store  0.00
4          Juice Bar  0.00


----York University----
                    venue  freq
0  Furniture / Home Store  0.29
1             Coffee Shop  0.14
2    Caribbean Restaurant  0.14
3                     Bar  0.14
4      Miscellaneous Shop  0.14

#### Let's put that into a *pandas* dataframe

First, let's write a function to sort the venues in descending order.

In [0]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

Now let's create the new dataframe and display the top 10 venues for each neighborhood.

In [39]:
import numpy as np
num_top_venues = 10

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Neighborhood']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
neighborhoods_venues_sorted = pd.DataFrame(columns=columns)
neighborhoods_venues_sorted['Neighborhood'] = toronto_grouped['Neighborhood']

for ind in np.arange(toronto_grouped.shape[0]):
    neighborhoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(toronto_grouped.iloc[ind, :], num_top_venues)

neighborhoods_venues_sorted.head()

      Neighborhood  ... 10th Most Common Venue
0   Bathurst Manor  ...         Sandwich Place
1  Bayview Village  ...       Department Store
2     Bedford Park  ...      Indian Restaurant
3      CFB Toronto  ...         Cosmetics Shop
4  Don Mills North  ...          Deli / Bodega

[5 rows x 11 columns]

<a id='item4'></a>

## Cluster Neighborhoods

Run *k*-means to cluster the neighborhood into 5 clusters.

In [40]:
from sklearn.cluster import KMeans

# set number of clusters
kclusters = 5

toronto_grouped_clustering = toronto_grouped.drop('Neighborhood', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(toronto_grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:10]

array([1, 1, 1, 4, 1, 1, 0, 1, 4, 1], dtype=int32)

Let's create a new dataframe that includes the cluster as well as the top 10 venues for each neighborhood.

In [41]:
# add clustering labels
neighborhoods_venues_sorted.insert(0, 'Cluster Labels', kmeans.labels_)
neighborhoods_venues_sorted
toronto_merged = toronto_df_raw
toronto_merged
# merge toronto_grouped with toronto_data to add latitude/longitude for each neighborhood
toronto_merged = toronto_merged.join(neighborhoods_venues_sorted.set_index('Neighborhood'), on='Neighbourhood')

toronto_merged.head() # check the last columns!

  Postcode           Borough  ...       9th Most Common Venue  10th Most Common Venue
0      M3A        North York  ...              Cosmetics Shop           Deli / Bodega
1      M4A        North York  ...  Construction & Landscaping       Convenience Store
2      M5A  Downtown Toronto  ...                         NaN                     NaN
3      M6A        North York  ...             Thai Restaurant      Chinese Restaurant
4      M6A        North York  ...             Thai Restaurant      Chinese Restaurant

[5 rows x 16 columns]

<a id='item5'></a>

## Examine Clusters

#### The neighbourhoods below are more oriented for young families with parks and basketball courts for kids to play and enjoy.

In [50]:
toronto_merged.loc[toronto_merged['Cluster Labels'] == 0, toronto_merged.columns[[2] + list(range(5, toronto_merged.shape[1]))]]

   Neighbourhood  Cluster Labels  ... 9th Most Common Venue 10th Most Common Venue
88     Downsview             0.0  ...        Cosmetics Shop          Deli / Bodega
89    North Park             0.0  ...        Cosmetics Shop          Deli / Bodega
90   Upwood Park             0.0  ...        Cosmetics Shop          Deli / Bodega

[3 rows x 12 columns]

#### The neighbourhoods below are more oriented for young adults and professionals with restuarants, coffee shop and bars that fit their lifestyles.

In [51]:
toronto_merged.loc[toronto_merged['Cluster Labels'] == 1, toronto_merged.columns[[2] + list(range(5, toronto_merged.shape[1]))]]

           Neighbourhood  ...      10th Most Common Venue
1       Victoria Village  ...           Convenience Store
3       Lawrence Heights  ...          Chinese Restaurant
4         Lawrence Manor  ...          Chinese Restaurant
9        Don Mills North  ...               Deli / Bodega
14             Glencairn  ...  Construction & Landscaping
23       Flemingdon Park  ...              Discount Store
24       Don Mills South  ...              Discount Store
43     Hillcrest Village  ...              Cosmetics Shop
44        Bathurst Manor  ...              Sandwich Place
45       Downsview North  ...              Sandwich Place
46        Wilson Heights  ...              Sandwich Place
54              Fairview  ...                Burger Joint
55            Henry Farm  ...                Burger Joint
56                Oriole  ...                Burger Joint
57        Northwood Park  ...           Convenience Store
58       York University  ...           Convenience Store
68       Bayview Village  ...            Department Store
83        Downsview West  ...  Construction & Landscaping
91         Humber Summit  ...               Deli / Bodega
97     Downsview Central  ...               Deli / Bodega
99          Bedford Park  ...           Indian Restaurant
100  Lawrence Manor East  ...           Indian Restaurant
109     Willowdale South  ...               Movie Theater
110  Downsview Northwest  ...              Cosmetics Shop
119      York Mills West  ...            Department Store
128      Willowdale West  ...     Comfort Food Restaurant

[26 rows x 12 columns]

#### The neighbourhoods below are more oriented for avearge families with variety of stores and entertainments for all ages to enjoy.

In [52]:
toronto_merged.loc[toronto_merged['Cluster Labels'] == 2, toronto_merged.columns[[2] + list(range(5, toronto_merged.shape[1]))]]

    Neighbourhood  Cluster Labels  ... 9th Most Common Venue 10th Most Common Venue
105         Emery             2.0  ...      Department Store           Dessert Shop
106     Humberlea             2.0  ...      Department Store           Dessert Shop

[2 rows x 12 columns]

The neighbourhoods below appears to be close to schools or colleges.

In [53]:
toronto_merged.loc[toronto_merged['Cluster Labels'] == 3, toronto_merged.columns[[2] + list(range(5, toronto_merged.shape[1]))]]

   Neighbourhood  Cluster Labels  ... 9th Most Common Venue 10th Most Common Venue
81  Silver Hills             3.0  ...         Deli / Bodega       Department Store
82    York Mills             3.0  ...         Deli / Bodega       Department Store

[2 rows x 12 columns]

#### The neighbourhoods below close to the airport. Maybe be in a city or metro area.

In [54]:
toronto_merged.loc[toronto_merged['Cluster Labels'] == 4, toronto_merged.columns[[2] + list(range(5, toronto_merged.shape[1]))]]

     Neighbourhood  Cluster Labels  ... 9th Most Common Venue 10th Most Common Venue
0        Parkwoods             4.0  ...        Cosmetics Shop          Deli / Bodega
69     CFB Toronto             4.0  ...     Convenience Store         Cosmetics Shop
70  Downsview East             4.0  ...     Convenience Store         Cosmetics Shop

[3 rows x 12 columns]

<a id='item3'></a>